html,
body {
  background-color: #66b6d2;
  margin: 20px;
  font-family: rubik, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 40px;
}
h3,
h2 {
  text-align: center;
  margin: 40px;
}
p {
  text-align: center;
  margin: 30px;
}
.nav-list {
  display: inline-flex;
}
.container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
p {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.list {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}
